# Variables pour le docker-compose.prod.yml
DOMAIN=garmin.mondomaine.com
ACME_EMAIL=ton@email.com

# Mot de passe PostgreSQL (générer avec : openssl rand -hex 16)
POSTGRES_PASSWORD=changeme_generate_with_openssl_rand_hex_16
