# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Environnement
.env

# Base de données
*.db
*.sqlite
*.sqlite3

# Node / Vue
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
